{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "MySQLConnection": "server=SERVER;userid=USER;password=PASSWORD;database=DATABASE"
  },
  "Jwt": {
    "Secret": "SECRET"
  }
}
